streamlit==1.31.0
pandas==2.1.4
folium==0.15.1
streamlit-folium==0.17.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.27
openpyxl==3.1.2
google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
PyMySQL==1.1.0
cryptography==41.0.7
